# Conjunto de dados de previsão de preços de carros usados

#  conjunto de dados de previsão de preços de carros usados ​​é uma coleção abrangente de informações automotivas extraídas do popular site do mercado automotivo, https://www.cars.com. Este conjunto de dados compreende 4.009 pontos de dados, cada um representando uma listagem exclusiva de veículos, e inclui nove recursos distintos que fornecem informações valiosas sobre o mundo dos automóveis.

# Este conjunto de dados é um recurso valioso para entusiastas, compradores e pesquisadores automotivos interessados ​​em analisar tendências, tomar decisões de compra informadas ou realizar estudos relacionados à indústria automotiva e às preferências do consumidor. Quer você seja um analista de dados, comprador de automóveis ou pesquisador, este conjunto de dados oferece uma riqueza de informações para explorar e analisar.

# Base de Dados retirada do site Kaggle, pode ser encontrada em https://www.kaggle.com/datasets/taeefnajib/used-car-price-prediction-dataset.

In [3]:
import pandas as pd

baseCarros = pd.read_csv("used_cars.csv")
display(baseCarros)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"
...,...,...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,Continental GT Speed,2023,714 mi.,Gasoline,6.0L W12 48V PDI DOHC Twin Turbo,8-Speed Automatic with Auto-Shift,C / C,Hotspur,None reported,Yes,"$349,950"
4005,Audi,S4 3.0T Premium Plus,2022,"10,900 mi.",Gasoline,349.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,"$53,900"
4006,Porsche,Taycan,2022,"2,116 mi.",NaN,Electric,Automatic,Black,Black,None reported,NaN,"$90,998"
4007,Ford,F-150 Raptor,2020,"33,000 mi.",Gasoline,450.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Blue,Black,None reported,Yes,"$62,999"
4008,BMW,X3 xDrive30i,2020,"43,000 mi.",Gasoline,248.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Brown,At least 1 accident or damage reported,Yes,"$40,000"

In [4]:
# Qual é a Marca de Carro Mais Comprada
carroMaisComprado = baseCarros['brand'].mode()[0]
listaMarcas = baseCarros['brand'].value_counts().reset_index(name='Quantidade')

# Resultados
print(f'A Marca de Carro + Comprada foi {carroMaisComprado}')
print('Lista de Marcas em Ordem Decrescente')
display(listaMarcas)

A Marca de Carro + Comprada foi Ford
Lista de Marcas em Ordem Decrescente

            brand  Quantidade
0            Ford         386
1             BMW         375
2   Mercedes-Benz         315
3       Chevrolet         292
4         Porsche         201
5            Audi         200
6          Toyota         199
7           Lexus         163
8            Jeep         143
9            Land         130
10         Nissan         116
11       Cadillac         107
12            GMC          91
13            RAM          91
14          Dodge          90
15          Tesla          87
16            Kia          76
17        Hyundai          72
18          Mazda          64
19          Acura          64
20         Subaru          64
21          Honda          63
22     Volkswagen          59
23       INFINITI          59
24        Lincoln          52
25         Jaguar          47
26          Volvo          38
27       Maserati          34
28        Bentley          33
29           MINI          33
30          Buick          30
31       Chrysler          28
32    Lamborghini          26
33     Mitsubishi          20
34        Genesis          20
35           Alfa          19
36         Rivian          17
37         Hummer          16
38        Pontiac          15
39        Ferrari          12
40    Rolls-Royce          11
41          Aston           9
42        McLaren           6
43          Scion           6
44           FIAT           5
45         Saturn           5
46          Lotus           4
47          Lucid           3
48        Mercury           3
49          Karma           2
50           Saab           2
51       Polestar           1
52        Bugatti           1
53       Plymouth           1
54          smart           1
55        Maybach           1
56         Suzuki           1

In [5]:
# Modelo de Carro + Comprado de Cada Marca
modeloMaisUsado = baseCarros['model'].mode()[0]

# Modelo Mais Usado
print(f'Modelo Mais Usado: {modeloMaisUsado}')

modeloMaisComprado = baseCarros.groupby(['brand','model']).size().reset_index(name='Quantidade')
# groupby: agrupa as colunas marca e modelo
# size: retorna a quantidade de vezes que cada modelo foi comprado e a marca
# reset_index: adiciona indices a essa tabela

modeloMaisCompradoPorMarca = modeloMaisComprado.loc[modeloMaisComprado.groupby('brand')['Quantidade'].idxmax()].sort_values(by='Quantidade',ascending=False).reset_index(drop=True)
# loc: mostra as linhas correspondentes aos modelos mais comprados por marca e a quantidade
# groupby('brand')['quantidade'].idxmax(): encontra o indice do modelo mais comprado, ou seja, de maior quantidade para cada marca
# sort_values: ordena a tabela em ordem crescente ou decrescente de acordo com a coluna especificada

print(f'{modeloMaisCompradoPorMarca}')

Modelo Mais Usado: M3 Base
            brand                        model  Quantidade
0             BMW                      M3 Base          30
1            Ford                    F-150 XLT          24
2       Chevrolet                Corvette Base          22
3             RAM                 1500 Laramie          18
4           Tesla           Model Y Long Range          17
5            Jeep               Wrangler Sport          17
6         Porsche                  911 Carrera          16
7   Mercedes-Benz                E-Class E 350          13
8          Toyota            Land Cruiser Base          12
9           Lexus                  ES 350 Base          12
10         Rivian        R1S Adventure Package          12
11           MINI                Cooper S Base          10
12         Hummer                      H2 Base           9
13         Nissan                 GT-R Premium           9
14           Land  Rover Range Rover Sport HSE           8
15           Audi         Q5 2.0T Premium Plus           8
16            Kia                 Telluride SX           8
17       Cadillac                   XTS Luxury           7
18            GMC              Sierra 1500 SLT           7
19       INFINITI                    QX60 Base           7
20       Maserati                  Ghibli S Q4           6
21          Dodge                   Durango GT           6
22          Honda                     Civic EX           6
23         Jaguar                     F-TYPE R           6
24        Lincoln            Navigator Reserve           6
25           Alfa              Romeo Giulia Ti           5
26        Pontiac                 Solstice GXP           5
27     Volkswagen      Golf GTI 2.0T SE 4-Door           5
28        Bentley          Continental GT Base           5
29    Lamborghini                    Urus Base           4
30         Subaru   Ascent Touring 7-Passenger           4
31    Rolls-Royce                   Ghost Base           4
32        Genesis              GV70 3.5T Sport           4
33       Chrysler                  300 Touring           4
34          Buick              Enclave Premium           4
35          Mazda              MX-5 Miata Base           4
36          Volvo             XC90 T6 Momentum           4
37        Hyundai                  Genesis 3.8           4
38         Saturn                 Sky Red Line           3
39          Acura          ILX Premium Package           3
40        McLaren                  570S Spider           3
41          Aston       Martin V8 Vantage Base           3
42        Ferrari              488 Spider Base           2
43     Mitsubishi            Eclipse Spyder GT           2
44        Mercury                Marauder Base           2
45          Lucid            Air Grand Touring           2
46          Scion       tC Anniversary Edition           2
47          Karma                  Revero Base           2
48       Plymouth                 Prowler Base           1
49        Bugatti      Veyron 16.4 Grand Sport           1
50           FIAT            124 Spider Abarth           1
51          Lotus                   Elise Base           1
52         Suzuki                     SX4 Base           1
53       Polestar             2 Launch Edition           1
54           Saab                     9-3 Aero           1
55        Maybach                 Type 57 Base           1
56          smart                  ForTwo Pure           1

In [6]:
# Tipo de Combustível  nos Carros mais Comprados
tipoCombustivel = baseCarros['fuel_type'].value_counts(normalize=True).map('{:.1%}'.format)
# formata o valor para ser mostrado em porcentagem

display(tipoCombustivel)

fuel_type
Gasoline          86.2%
Hybrid             5.1%
E85 Flex Fuel      3.6%
Diesel             3.0%
–                  1.2%
Plug-In Hybrid     0.9%
not supported      0.1%
Name: proportion, dtype: object

In [7]:
# Preço Médio dos Carros

# Formatando os dados da coluna Preço
baseCarros['new_price'] = baseCarros['price'].str.replace('$','').str.replace(',','.').str.replace('.','').astype(float)
# replace: troca o sifrão por um campo vazio e a vírgula por um ponto
#astype: converte a String para o tipo float

precoMedio = baseCarros['new_price'].mean()
# Mostrar o Preco Medio Considerando todos os carros

print('Medium Price: {:.2f}'.format(precoMedio))
# Média de Quilometros Rodados

Medium Price: 44553.19

In [8]:

# Cor Mais Comprada
corMaisComprada = baseCarros['ext_col'].value_counts(normalize=True).map('{:.1%}'.format)
display(corMaisComprada)

ext_col
Black                       22.6%
White                       20.4%
Gray                        12.4%
Silver                       9.3%
Blue                         8.7%
                            ...
Anthracite Blue Metallic     0.0%
Moonlight Cloud              0.0%
Silver Mist                  0.0%
Cirrus Silver Metallic       0.0%
C / C                        0.0%
Name: proportion, Length: 319, dtype: object

In [11]:
# Carros por Ano_Modelo
ano_modelo = baseCarros['model_year'].value_counts()

display(ano_modelo)

model_year
2022    354
2021    350
2020    322
2018    315
2019    297
2016    268
2017    259
2015    228
2023    226
2014    181
2013    158
2012    141
2011    124
2008    113
2010    100
2007     98
2005     72
2009     72
2006     66
2004     60
2003     49
2001     34
2002     32
2000     17
1999     15
1998     11
1997      9
1993      9
1996      8
1994      7
2024      6
1995      6
1974      1
1992      1
Name: count, dtype: int64

In [10]:
# Média de Quilometros Rodados
baseCarros['new_milage'] = baseCarros['milage'].str.replace(',','').str.replace('mi.','').astype(float)

mediaKmRodados = baseCarros['new_milage'].mean()

print(f'Média de Kms Rodados: {mediaKmRodados:.3f} mil Km ')

Média de Kms Rodados: 64717.551 mil Km